/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
            //----------------------------------------------------------------------------------------------------------------------------------------------------
            // | TAB |   Q   |   W   |   E   |   R   |   T   |                    |   Y   |   U   |   I   |   O   |   P   |  BSPC |
               &kp TAB &kp Q   &kp W   &kp E   &kp R   &kp T                          &kp Y   &kp U   &kp I   &kp O   &kp P   &kp BSPC
            // | CAPS|   A   |   S   |   D   |   F   |   G   |                    |   H   |   J   |   K   |   L   |   ;   |   '   |
               &kp CAPS &kp A   &kp S   &kp D   &kp F   &kp G                          &kp H   &kp J   &kp K   &kp L   &kp SEMI  &kp SQT
            // | SFT |   Z   |   X   |   C   |   V   |   B   |                    |   N   |   M   |   ,   |   .   |   /   |  RSFT |
               &kp LSFT &kp Z   &kp X   &kp C   &kp V   &kp B                          &kp N   &kp M   &kp COMMA &kp DOT &kp FSLH  &kp RSFT
            // | CTRL|   1   |   2   |   3   |   4   |                              |   7   |   8   |   9   |   0   | PG_DN |
                           &kp LCTRL &kp N1  &kp N2  &kp N3  &kp N4                 &kp N7  &kp N8  &kp N9  &kp N0  &kp PG_DN
            // | LGUI| LALT | LOWER |                              |  RAISE | SPACE | ENTER |
                                     &kp LGUI &kp LALT &mo 1                      &mo 2   &kp SPACE &kp RET
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            display-name = "Horizon (Lower)";
            bindings = <
            //----------------------------------------------------------------------------------------------------------------------------------------------------
            // | ESC |  F1   |  F2   |  F3   |  F4   |  F5   |                    |  F6   |  F7   |  F8   |  F9   |  F10  |  DEL  |
               &kp ESC  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                         &kp F6  &kp F7  &kp F8  &kp F9  &kp F10 &kp DEL
            // |  `  |   !   |   @   |   #   |   $   |   %   |                    |   ^   |   &   |   * |   (   |   )   |  INS  |
               &kp GRAVE &kp EXCL &kp AT  &kp HASH &kp DLLR &kp PRCNT                       &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp RPAR &kp INS
            // | TRNS|  _    |  +    |  {    |  }    |  |    |                    |  UP   | PG_UP |PG_DOWN|  PSCRN| SCRLK | PAUSE |
               &trans   &kp UNDS &kp PLUS &kp LBKT &kp RBKT &kp PIPE                        &kp UP  &kp PG_UP &kp PG_DN &kp PSCRN &kp SLCK &kp PAUSE
            // | TRNS|  `~`  |  =    |  [    |  ]    |                              | LEFT  | DOWN  | RIGHT | TRNS  | TRNS  |
                           &trans   &kp TILD &kp EQUAL &kp LBRC &kp RBRC                 &kp LEFT &kp DOWN &kp RIGHT &trans  &trans
            // | TRNS| TRNS | TRNS  |                              |  TRNS  | TRNS  | TRNS  |
                                     &trans  &trans  &trans                       &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            display-name = "Expand (Raise)";
            bindings = <
            //----------------------------------------------------------------------------------------------------------------------------------------------------
            // | TRNS| TRNS | TRNS | TRNS | TRNS | TRNS |                    | TRNS | TRNS | TRNS | TRNS | F11   | F12   |
               &trans &trans &trans &trans &trans &trans                       &trans &trans &trans &trans &kp F11 &kp F12
            // | TRNS| TRNS | TRNS | TRNS | TRNS | TRNS |                    | TRNS | TRNS | TRNS | TRNS | TRNS  | TRNS  |
               &trans &trans &trans &trans &trans &trans                       &trans &trans &trans &trans &trans  &trans
            // | BT 1| BT 2 | BT 3 | BT 4 | BT 5 | BT CLR|                    | TRNS | TRNS | TRNS | TRNS | TRNS  | TRNS  |
               &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR &trans &trans &trans &trans &trans  &trans
            // | VOLU| VOLD | MUTE | PLAY | PREV |                              | TRNS | TRNS | TRNS | TRNS | \ |
                           &kp C_VOL_UP &kp C_VOL_DN &kp C_MUTE &kp C_PLAY_PAUSE &kp C_PREV &trans &trans &trans &trans  &kp BSLH
            // | TRNS| TRNS | TRNS |                              |  TRNS  | TRNS  | TRNS  |
                                     &trans &trans &trans                       &trans &trans &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_1 {
            display-name = "EXT1";
            bindings = <
               &trans &trans &trans &trans &trans &trans                       &trans &trans &trans &trans &trans &trans
               &trans &trans &trans &trans &trans &trans                       &trans &trans &trans &trans &trans &trans
               &trans &trans &trans &trans &trans &trans                       &trans &trans &trans &trans &trans &trans
                           &trans &trans &trans &trans &trans                 &trans &trans &trans &trans &trans
                                     &trans &trans &trans                       &trans &trans &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_2 {
            display-name = "EXT2";
            bindings = <
               &trans &trans &trans &trans &trans &trans                       &trans &trans &trans &trans &trans &trans
               &trans &trans &trans &trans &trans &trans                       &trans &trans &trans &trans &trans &trans
               &trans &trans &trans &trans &trans &trans                       &trans &trans &trans &trans &trans &trans
                           &trans &trans &trans &trans &trans                 &trans &trans &trans &trans &trans
                                     &trans &trans &trans                       &trans &trans &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        // This layer is disabled.
        extra_3 {
            status = "reserved";
        };
    };
};
